<div class="information">
  <div>Avatar url</div>
  <div>
    <input
      type="url"
      name="avatar_url"
      placeholder="http://"
      value="{{ student.avatar_url }}"
    >
  </div>
</div>

<div class="information">
  <div>Nome completo</div>
  <div>
    <input
      type="text"
      name="name"
      value="{{ student.name }}"
    >
  </div>
</div>

<div class="information">
  <div>E-mail</div>
  <div>
    <input
      type="email"
      name="email"
      value="{{ student.email }}"
    >
  </div>
</div>

<div class="information">
  <div>Data de nascimento</div>
  <div>
    <input
      type="date"
      name="birth_date"
      value="{{ student.birth_date }}"
    >
  </div>
</div>

<div class="information">
  <div>Ano escolar</div>
  <div>
    <select name="school_year">
      <option value="{{ student.school_year }}">{{ student.school_year }}</option>
      <option value="5º ano do ensino fundamental">5º ano do ensino fundamental</option>
      <option value="6º ano do ensino fundamental">6º ano do ensino fundamental</option>
      <option value="7º ano do ensino fundamental">7º ano do ensino fundamental</option>
      <option value="8º ano do ensino fundamental">8º ano do ensino fundamental</option>
      <option value="9º ano do ensino fundamental">9º ano do ensino fundamental</option>
      <option value="1º ano do ensino médio">1º ano do ensino médio</option>
      <option value="2º ano do ensino médio">2º ano do ensino médio</option>
      <option value="3º ano do ensino médio">3º ano do ensino médio</option>
    </select>
  </div>
</div>

<div class="information">
  <div>Carga horária semanal</div>
  <div>
    <input
      type="number"
      name="workload"
      value="{{ student.workload }}"
    >
  </div>
</div>

<div class="information">
  <div>Professor(a)</div>
  <div>
    <select name="teacher">
      <option value="">Selecione o Professor(a)</option>
      {% for teacher in teacherOptions %}
        <option value="{{ teacher.id }}"
          {% if student.teacher_id == teacher.id %}
            selected
          {% endif %}>
          {{ teacher.name }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>