{% extends "layout.njk" %}

{% block head %}
    <title>Class Manager</title>
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/home.css">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    
    <section class="left">
        <img src="/logo.png" alt="Class Manager">
    </section>
    
    <section class="right">
        <h2>Olá! Seja bem vindo ao Class Manager</h2>
        <p>Clique em iniciar para começar a gerenciar a sua Class</p>
        <a href="/teachers">Iniciar</a>
    </section>
    
{% endblock content %}