<!DOCTYPE html>
<html lang="pt-br">

  <head>

    {% block head %}
      <title>Class Manager</title>
      <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
      <link rel="stylesheet" href="/style.css">
    {% endblock %}

  </head>

  <body>
    {% block header %}
      <header>
        <a href="/">
          <img src="/header.png" alt="Class Manager">
        </a>
        <div class="links">
          <a href="/teachers">Teachers</a>
          <a href="/students">Students</a>
        </div>
      </header>
    {% endblock %}

    {% block content %}

    {% endblock %}
    <script src="/scripts.js"></script>
  </body>

</html>